body {
    background-color: #e7e4e3;
}

h1 {
    text-align: center;
    color: #436cff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start-game {
    display: block;
    text-align: center;
    text-decoration: none;
}

.game {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.outer-board {
    display: grid;
    grid-template-areas: "letters letters"
                         "numbers board";
    background-color: rgb(255, 251, 251);
    box-shadow: 2px 2px 20px rgb(165, 165, 165);
    border-radius: 20px;
    padding: 50px;
    max-width: 100%;
}

.letters {
    display: grid;
    grid-area: letters;
    grid-template-columns: repeat(10, 50px);
    margin-left: 58px;
    margin-bottom: 15px;
}

.numbers {
    display: grid;
    grid-area: numbers;
    grid-template-rows: repeat(10, 50px);
    margin-top: 20px;
}

.board {
    display: grid;
    grid-area: board;
    grid-template-columns: repeat(10, 1fr);
    box-sizing: border-box;
    width: 500px;
    height: 500px;
}

.cell {
    display: grid;
    place-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 7px;
    background: rgba(206, 206, 206, 1);
    font-size: 40px;
}